<button type="button" (click)="getComicCart();openCarShopForm(carShopModalCreateTemplate) " class="btn btn-danger ml-2 float-right" >COMPRAR
</button>

<ng-template #carShopModalCreateTemplate>
    <!-- <div *ngIf="productList.length === 0" class="alert alert-info">Your Cart is Empty.</div>

  <ul *ngIf="productList.length > 0" class="list-group">
    <li class="list-group-item" *ngFor="let item of productList">
    </li> -->

    <div class="modal-footer">
        <div class="container">
            <button type="button" class="btn btn-light  float-right" (click)="buyCarShopForm()">FINALIZAR A COMPRA</button>
            <button type="button" class="btn btn-light  float-left" (click)="closeCarShopForm()">CONTINUAR COMPRANDO</button>

        </div>
    </div>
</ng-template>
