<body>

  <section class="mt-5">

    <div class="bg-img">
      <h5>PERSONAGENS</h5>
    </div>

    <div class="container-fluid">

      <div class="row justify-content-md-center mb-3">
        <div class="col-md-4 mt-5 mb-3">
          <div class="card">
            <img class="img-fluid" src="../../../../assets/img/personagem1.png" alt="char1">
          </div>
        </div>

        <div class="col-md-4 mt-5 mb-3">
          <div class="card">
            <img class="img-fluid" src="../../../../assets/img/presonagem2.png" alt="char2">
          </div>
        </div>

        <div class="col-md-4 mt-5 mb-3">
          <div class="card">
            <img class="img-fluid" src="../../../../assets/img/personagem3.png" alt="char3">
          </div>
        </div>


      </div>
      <div class="float-right mb-3">
        <h4><a [routerLinkActive]="['active']" routerLink="personagens" class="nav-link mt-3 mb-5 font-weight-bold"> + VER
          MAIS </a></h4>
      </div>
    </div>
  </section>


</body>