<div class="container mt-5 pt-2  ">

  <h4 class="text-left pt-4  ">Contact us</h4><br />

  <div class="row">
    <div class="col-md-8">
        <form [formGroup]="sugestionForm" (ngSubmit)="createSugestion()">
          <input class="form-control" name="name" formControlName="name" class="form-control" placeholder="Nome..." /><br />
          <input class="form-control" name="phone" formControlName="phone" class="form-control" placeholder="Telefone..." /><br />
          <input class="form-control" name="email" formControlName="email" class="form-control" placeholder="E-mail..." /><br />
          <textarea class="form-control" name="sugestion" formControlName="sugestion" class="form-control" placeholder="Como podemos ajudar?" style="height:150px;"></textarea><br />
          <input class="btn btn-dark " type="submit" [disabled]='sugestionForm.invalid' value="Enviar" /><br /><br />
        </form>
    </div>
    <div class="col-md-4">
   <h6 class="ml-5"> Fale com a gente!</h6>
     <p class="col-md-13 text-justify ml-5">
      Criamos um canal de comunicação com a Marvel dos Quadrinhos. 
      Reclamações, sugestões, dúvidas, dificuldades encontradas em nosso site,
      denúncias de usuários que utilizam a Marvel de forma inadequada, bugs, enfim,
      sinta-se à vontade para usar este formulário e falar conosco.
      Esperamos seu contato!
  </p> 


     <h6 class=" ml-5"> A Marvel nas redes sociais: </h6> 
    <div class="flex-row"></div>


   <img class="img-fluid ml-4" style="width: 80px;" src="https://img.flaticon.com/icons/png/512/25/25231.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" width="142">


   <div class="d-flex flex-column bd-highlight mb-3 ml-5 mt-3">

      <a href="https://github.com/gimunaretto" target="_blank"> <strong>Giuliana Munaretto </strong> </a> 
      <a href="https://github.com/Guilherme-Endrigo" target="_blank"> <strong>Guilherme Endrigo </strong></a> 
      <a href="https://github.com/Hozenyth" target="_blank"> <strong>Hozenyth Andrade </strong></a> 
      <a href="https://github.com/RafaelaLMD" target="_blank"> <strong> Rafaela Dollazi </strong> </a> 

    </div>

  </div>