a {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}

a:hover {
  color: rgb(209, 33, 33);
  text-decoration: none;
}

i {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}

i:hover {
  color: rgb(209, 33, 33);
}
