<footer>
  <div id="email">
  <a href="mailto:endrigo.guilherme@hotmail.com" class="text-base primary--text">endrigo.guilherme@hotmail.com</a>
  </div>
  <div class="footer-sociais">
    <a
      href="https://github.com/Guilherme-Endrigo" target="_blank"
      class="primary--text"><i class="mdi mdi-github"></i></a>
    <a
      href="https://www.linkedin.com/in/guilhermeendrigo/"
      target="_blank"
      class="primary--text"><i class="mdi mdi-linkedin"></i></a>
    <a
      href="https://www.facebook.com/guilherme.endrigo"
      target="_blank"
      class="primary--text"><i class="mdi mdi-facebook"></i></a>
  </div>
</footer>