<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div> <!-- API IMAGEM-->
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row mt-5">
            <div class="col-md-9 col-lg-8 mx-auto mt-5  shadow-lg p-3 mb-5 bg-white rounded mb-5 pb-5 pl-5 pr-5">
              <h3 class="login-heading mt-5 mb-4 text-center">HOMEM-ARANHA</h3> <!--API NOME -->
              <form>
                <div class="form-label-group">
                  <p>SDKAHDJKLAHSDJKHSAKLDHASJKLHD</p> <!--API DESCRIÇÃO-->
                </div>
