<div>
  <button class="btn btn-lg btn-link mb-5" (click)="openAccountCreateForm(createModalCreateTemplate)">
      Realizar novo cadastro?
  </button>
</div>

<ng-template #createModalCreateTemplate>
  <form [formGroup]="createForm" (ngSubmit)="createAccount()">
      <div class="modal-header">
          <h4 class="modal-title pull-left">Cadastro</h4>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <fieldset class="form-group">
                          <label for="nome">nome:</label>
                          <input type="text" formControlName="nome" class="form-control" style="width: 100%;">
                          <label for="email">email</label>
                          <input type="email" formControlName="email" class="form-control" style="width: 100%;">
                          <label for="senha">senha:</label>
                          <input type="password" formControlName="senha" class="form-control" style="width: 100%;">
                          <label for="endereco">endereço (não Obrigatorio)</label>
                          <input type="text" formControlName="endereco" class="form-control" style="width: 100%;">
                          
                          <label for="dataNascimento">Data de Nascimento</label>
                          <input required id="dataNascimento" type="text" formControlName="dataNascimento" class="form-control"
                                bsDatepicker style="width: 100%;" placeholder="Datepicker" [bsConfig]="dateConfig">

                                
                      </fieldset>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="container">
              <button class="btn btn-info" type="submit" [disabled]='createForm.invalid'>cadastrar</button>
              <button type="button" class="btn btn-light ml-2" (click)="closeAccountCreateForm()">Cancelar
              </button>
          </div>
      </div>
  </form>
</ng-template>
