<body>
<div class="row ml-5 mr-5"> 
  <h3 class="mt-5 float-left font-weight-bold">+ MAIS VENDIDOS</h3>
</div>

<section>
  <div class="container-fluid ">

    <div class="row">
      <div class="col-md-3 mt-5 mb-5">
        <div class="card">
          <img class="img-fluid" src="../../../../assets/img/quadrinho1.png" alt="best HQ 1">
        </div>
      </div>
  
      <div class="col-md-3 mt-5 mb-5">
        <div class="card">
          <img class="img-fluid" src="../../../../assets/img/quadrinho2.png" alt="best HQ 2">
        </div>
      </div>
  
      <div class="col-md-3 mt-5 mb-5">
        <div class="card">
          <img class="img-fluid" src="../../../../assets/img/quadrinho3.png" alt="best HQ 3">
        </div>
      </div>
      
      <div class="col-md-3 mt-5 mb-5">
        <div class="card">
          <img class="img-fluid " src="../../../../assets/img/quadrinho4.png" alt="best HQ 4">
        </div>
      </div>
    </div>

    <div class="float-right">
      <h4><a [routerLinkActive]="['active']" routerLink="quadrinhos" class="nav-link mt-3 font-weight-bold"> + VER MAIS </a></h4>
  </div>
  </div>
</section>


</body>