<nav>
  <div>
    <ul>
      <div class="pagesMenu">
        <li>
          <img id="logo" src="https://seeklogo.com/images/M/Marvel_Comics-logo-D489AEB9C1-seeklogo.com.png" alt="LogoMarvel">
        </li>
        <li>
          <a id="quadrinho" href="#">QUADRINHOS</a>
        </li>
        <li>
          <button id="personagens" mat-button [matMenuTriggerFor]="menu">PERSONAGENS</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>HOMEM-ARANHA</button>
            <button mat-menu-item>X-MEN</button>
          </mat-menu>
        </li>
      </div>
      
      <div class="optionMenu">
        <li>
          <mat-icon id="iconSearch" aria-hidden="false" aria-label="search">search</mat-icon>
          <mat-form-field class="searchInput" appearance="outline">
            <mat-label id="searchLabel">O que você Procura?</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button id="cleanButton" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click) = "value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-icon  id="user" aria-hidden="false" aria-label="search">account_circle</mat-icon>
          <mat-icon id="shopCar" aria-hidden="false" aria-label="search">local_mall</mat-icon>

        </li>
      </div>

    </ul>
  </div>
</nav>
