@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}

mat-icon {
  color: #ffffff;
}

mat-form-field {
  width: 175px;
}

#logo {
  width: 130px;
  height: 50px;
}

nav {
  position: absolute;
  width: 100vw;
  top: 0px;
  background: #000000;
}

.pagesMenu {
  float: left;
  color: #ffffff;
  display: flex;
  align-items: center;
}

#quadrinho {
  margin: 5vw;
}

#personagens {
  color: #ffffff;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}

.optionMenu {
  display: flex;
  float: right;
  align-items: center;
}

#iconSearch {
  padding-right: 50px;
}

.searchInput {
  color: #ffffff;
}

#searchLabel {
  font-size: medium;
  color: #ffffff;
}

#user {
  margin-left: 25px;
  margin-right: 50px;
  cursor: pointer;
}

#shopCar {
  margin-right: 50px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@media (max-width: 1000px) {
  .optionMenu {
    float: left;
  }
}

@media (max-width: 520px) {
  #logo {
    width: 50px;
    height: 20px;
  }

  a {
    font-size: 15px;
  }

  #personagens {
    font-size: 15px;
  }

  #user {
    margin-left: 15px;
    margin-right: 5px;
  }
  #iconSearch {
    padding-right: 30px;
  }
  #quadrinho {
    margin: 2vw;
  }

  #shopCar {
    margin-right: 10px;
  }

  @media (max-width: 350px) {
    a {
      font-size: 12px;
    }

    #personagens {
      font-size: 12px;
    }

    #searchLabel {
      font-size: x-small;
      color: #ffffff;
    }

    mat-form-field {
      width: 125px;
    }
  }
}
