<app-carrousel></app-carrousel>
<section id="about-us" class="py-5 bg-secondary text-black" style="padding: 60px;">

    <div class="row">
        <div class="col-md-3">
          
                <img src="assets/img/sobreNos.png" class="img-fluid" alt="...">
           
        </div>
        <div class="col-md-9 text-justify">
            <br>
            <h3 class="pb-0"> SOBRE A GENTE </h3>
            <p class="lead text-muted">
                Marvel é uma loja especializada em HQs, mangás, board games, card games,
                e tudo relacionados a cultura geek e pop. Buscando sempre levar para seus clientes o maior
                e mais atualizado acervo de revistas em quadrinhos do Brasil. Nosso objetivo é pensar sempre no
                consumidor,
                fomentar o mercado e aproximar cada vez mais o público do maravilhoso universo das histórias em
                quadrinhos.
                Para isso, foram criadas diversas ações de divulgação como eventos internos, lançamentos, ações em
                escolas,
                faculdades, feiras de livros entre outros. Disponibilizando sempre uma equipe treinada, com muito
                carisma,
                potencial e conhecimento para propor ao cliente a devida atenção e atendimento.
            </p>
            <p>
                <a [routerLinkActive]="['active']" routerLink="contato" class="btn btn-dark my-2 me-2 ">Contact Us</a>
            </p>
        </div>
    </div>

</section>


    <section class="row">
        <div class="ml-5 mr-5">
            <h3 class="mt-5 float-left">+ MAIS VENDIDOS</h3>

                <img class="img-fluid mt-5" src="../../../assets/img/__vendidos.png" alt="">

            <div class="float-right">
                <a [routerLinkActive]="['active']" routerLink="quadrinhos" class="nav-link mt-3 mb-5"> + VER MAIS </a>
            </div>
        </div>
    </section>

    <div><img class="img-fluid" src="../../../assets/img/topo_quadrinhos.png" alt=""></div>
    
    <section class="row">
        <div>
            <div class="ml-5 mr-5">
                <img class="img-fluid mt-5" src="../../../assets/img/_personagens.png" alt="">
                <div class="float-right">
                    <a [routerLinkActive]="['active']" routerLink="personagens" class="nav-link mt-3 mb-5 "> + VER MAIS </a>
                </div>
            </div>
        </div>
    </section>








