h4,
.text-muted {
  color: #6c757d !important;
}

p {
  font-size: 1.5rem;
}

.bg-secondary {
  background-color: #161b22 !important;
}

body{
  padding-top: -8px !important;
  padding-bottom: 60px !important;
}