p,
.nav-link {
  color: black !important;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4, .text-muted{
  color:#6c757d !important;
}

h4{
  font-weight: 700;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 1.5rem;
}

.bg-secondary{
  background-color: #161b22!important;
}


.bg-img {
  background: url("/../../assets/img/personagens_topo.png") no-repeat;
  background-size: cover; 
  min-height: 100px;
}

h5{
  padding-top: 60px;
  color: white;
  padding-left: 40px;
  font-weight: 700;
}