@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#logo {
  width: 100px;
}

.nav-link {
  font-size: 19px;
  font-weight: 700;
}

mat-icon {
  color: #ffffff;
}

#user {
  margin-left: 25px;
  margin-right: 50px;
  cursor: pointer;
}

#shopCar {
  margin-right: 50px;
  cursor: pointer;
}

nav{
width: 100vw;
}

.fa {
  padding: 15px;
  color: gray;
  font-size: 30px;
}

.fa:hover{
  background-color: black !important;
  color:lightgray;
}


.navbar-dark{
  background-color: black !important;

}