<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Dias de um Futuro Esquecido</mat-card-title>
    <mat-card-subtitle>X-MEN</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://pm1.narvii.com/6442/cb2479b401691586347ee5fdd07331197ee63324_128.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      DESCRIÇÃO DO QUADRINHO CASO A API POSSUA SE NÃO LOREM
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>COMPRAR</button>
  </mat-card-actions>
</mat-card>


<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{nomeQuadrinho}}</mat-card-title>
    <mat-card-subtitle>{{nomeDoGrupo}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{imgQuadrinho}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      DESCRIÇÃO DO QUADRINHO CASO A API POSSUA SE NÃO LOREM{{descrição}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>COMPRAR</button>
  </mat-card-actions>
</mat-card>
*/ -->