<body>
  <footer class="fixed-bottom">
    <div class="footer-social-icons">
      <a href="http://youtube.com/marvel" target="_blank" class="bi bi-youtube"></a>
      <a href="http://facebook.com/marvel" target="_blank" class="bi bi-facebook"></a>
      <a href="http://twitter.com/marvel"  target="_blank" class="bi bi-twitter"></a>
      <a href="http://instagram.com/marvel" target="_blank" class="bi bi-instagram"></a>
      <a [routerLinkActive]="['active']" routerLink="contato" class="bi bi-envelope-open-fill"></a>
      <img id="logo" class="navbar-brand img-fluid" src="../../../assets/img/logo_marvel.png" alt="">
    </div>
  </footer>
</body>